<!-- AIzaSyByNsm7d4tL4gZskIUi5ZDtd8Kr7b4MhL4  -->

 {% extends "layout.html" %} {% block content %}

<body>
 <script src="/js/gmap.js"></script>
    <div class="container navbar-cont">
    <div class="navbar-brand">TRIP PLANNER</div>
   <nav class="navbar navbar-full navbar-light bg-faded">
<ul class="nav navbar-nav">
<li class="active">
<a href ="">Home</a></li>
<li class="active">
<a href ="localhost:3000/about">About</a></li>
<li class="active">
<a href ="localhost:3000/contact">Contact</a></li>
</ul>
</nav>
    </div>


    <div class="page-header">
        <h1>Welcome to TRIP PLANNER</h1>
    </div>

    <div class="map-panel" id="map">
    <h1>Put map here</h1>

    </div>


    <div class="option-panel">
    <div class="option-selections">
    <p>Hotels:</p>
        <p><select>
            {% for hotel in dbHotels %}
           <option value={{hotel.name}}> {{hotel.name}} </option>
            {% endfor %}
          </select>
        <input class="btn btn-default btn-xs btn-success" type="button" value="+"> </p>

    <p>Restaurants:</p>
        <p><select>
            {% for restaurant in dbRestaurants %}
            <option value={{restaurant.name}}> {{restaurant.name}}
             </option>
            {% endfor %}
        </select>
        <input class="btn btn-default btn-xs btn-success" type="button" value="+"> </p>

    <p>Activities</p>
        <p><select>
            {% for activity in dbActivities %}
            <option value={{activity.name}}> {{activity.name}} </option>
            {% endfor %}
         </select>
        <input class="btn btn-default btn-xs btn-success" type="button" value="+"> </p>
       </div>

        <div class="option-daylabel">
        <p>
            <h2>Day {{daynum}}</h2>
        </p>
        </div>

         <div class="daybar">
                 {% for day in myDays %}
        <input class="btn btn-default btn-sm day-btn" type="button" value={{day}}>
          {% endfor %}
          <input class="btn btn-default btn-sm day-btn" type="button" value="+">

        </div>

        <div class="option-days">
        <p>My Hotels</p>
        <p>
            <ul>
           {% for hotel in myHotels %}
            <li>{{hotel}}
            <input class="btn btn-default btn-xs btn-danger" type="button" value="x"> </li>
            {% endfor %}
            </ul>
        </p>

        <p>My Restaurants</p>
        <p>
            <ul>
            {% for restaurant in myRestaurants %}
            <li>{{restaurant}}
            <input class="btn btn-default btn-xs btn-danger" type="button" value="x"> </li>
            {% endfor %}
            </ul>
        </p>

        <p>My Activities</p>
        <p>
           <ul>
            {% for fun in myActivities %}
            <li>{{fun}}
            <input class="btn btn-default btn-xs btn-danger" type="button" value="x"> </li>
            {% endfor %}
            </ul>
        </p>


        </div>

    </div>

</body>
{% endblock %}
