 {% extends "layout.html" %} {% block content %}

<body>
    <div class="page-header">
        <h1>Welcome to TRIP PLANNER</h1>
    </div>
    <div class="row">
        <h2><b>Hotels</b></h2></div>
    <div>
    Hotels:
        <select>
            {% for hotel in dbHotels %}
           <option value={{hotel.name}}> {{hotel.name}} </option>
            {% endfor %}
        </select>
    Restaurants:
        <select>
            {% for restaurant in dbRestaurants %}
            <option value={{restaurant.name}}> {{restaurant.name}} </option>
            {% endfor %}
        </select>
    Activities
        <select>
            {% for activity in dbActivities %}
            <option value={{activity.name}}> {{activity.name}} </option>
            {% endfor %}
        </select>
    </div>
    <!--       <div class="row tweet">
        <div class="col-md-1 tweetbox"><img></div>
        <div class="col-md-11"> -->
    <!-- tweet name and tweet text-->
    <!--
            <b><a href="/user/{{tweet.name}}" id="tweetNAME">{{hotel.name}}</a></b><br>
            <a href="/tweets/{{tweet.id}}" id="tweetID">{{hotel.num_stars}}</a><br>

            <button>Re-tweet</button><br>
        </div>
 -->
    <!--     </div> -->
</body>
{% endblock %}
