body {
  background-color: grey; }

.navbar-cont {
  background-color: orange; }

.option-panel {
    float: right;
}

.option-selections {
    background-color: brown;
    padding: 20px 100px 20px 20px;
}

.option-selections select {
    width: 92%;
}

.option-days {
    background-color: green;
    padding: 20px 100px 20px 20px;
}

.option-days ul {
    width: 92%
    background-color: purple;
}

.daybar {
    background-color: orange;
    width: 100%;
    padding:4% 0 4% 7%;
}

.map-panel {
  height: 700px;
    float: left;
    width:60%;
}

.day-btn {
    background-color: blue;
}
